*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}
.content {
  display: flex;
  width: 1140px;
  gap: 30px;
  align-items: flex-end;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list-container {
  height: 298px;
  overflow: scroll;
  overflow-x: hidden;
}

.content__details {
  width: 399px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.result__video-container {
  position: relative;
  margin-bottom: 16px;
}

.result__video {
  height: 386px;
  width: 711px;
  object-fit: cover;
  object-position: center;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: contain;
  object-position: right;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  font-family: "Fira Sans Condensed";
}

.title {
  text-transform: uppercase;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  color: #fff;
  font-family: Oswald;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card-description-container {
  height: 103px;
  width: 196px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  line-clamp: 4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__textfield {
  appearance: none;
  background-color: transparent;
  width: 225px;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 400;
  border-style: solid;
  border-right: none;
  border-left: none;
  border-color: #fff;
  color: #fff;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}
.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox {
  height: 19px;
  width: 19px;
  border: solid 1px #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  height: 100%;
  width: 100%;
  opacity: 0;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline;
  cursor: pointer;
}

.button {
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  background-color: transparent;
  color: #fff;
  border: solid #fff 1px;
  text-align: center;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
  height: 34px;
  padding: 7px 0px;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__card-link {
  display: block;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link:focus {
  outline: none;
}
.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__list-item {
  padding: 0px 3px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
